body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(
        135deg,
        #f97316,
        #ea580c,
        #c2410c
    );

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}
.hidden {
    display: none;
}
